<h2>Query Log</h2>
<table>
  <tr>
    <th>Timestamp</th>
    <th>Endpoint</th>
  </tr>
  <tr *ngFor="let logEntry of queryLog">
    <td>{{ logEntry.timestamp }}</td>
    <td>{{ logEntry.endpoint }}</td>
  </tr>
</table>
