<div *ngFor="let character of characters">
  <div (click)="selectCharacter(character)">
    {{ character.name }}
  </div>
</div>

<app-character-popup
  *ngIf="selectedCharacter"
  [character]="selectedCharacter"
  (close)="closePopup()"
></app-character-popup>
